// Colors
$dark-color: #292929;
$light-color: #f7f7f7;
$hover-color: #ffa0ea5b;
$mobile-hover: #f8df00;

@mixin hover {
  &:hover,
  &:active {
    @content;
  }
}
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .nav-links li {
    margin: 1rem;
    a {
      border: 1px solid transparent;
      color: $light-color;
      text-decoration: none;
      padding: 0.5rem;
      @include hover {
        background: $hover-color;
        border-color: $dark-color;
        color: $dark-color;
      }
    }
  }
  .button {
    cursor: pointer;
    border: 1px solid $dark-color;
    color: $dark-color;
    background: transparent;
    padding: 0.5rem;
    font: inherit;
    &:focus {
      outline: none;
    }
    @include hover {
      background: $dark-color;
      color: $light-color;
    }
  }
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
    li {
      margin: 0 0.5rem;
    }

    .button {
      border: 1px solid $light-color;
      color: $light-color;
    }
    @include hover {
      background: $hover-color;
    }
  }
}
